extends ../layout.pug

block customHead
  link(href="/createBooks/index.css" type="text/css" rel="stylesheet")
  script(src='/createBooks/index.js')

block content
  .main-page.container
    h1.display-4= title
