extends ../layout.pug

block customHead
  link(href="/allBooks/index.css" type="text/css" rel="stylesheet")
  script(src='/allBooks/index.js')

block content
  .main-page.container
    h1.display-4= title
    .container_table 
      table.table-success.table-striped
        thead
          tr
            th(scope="col") id
            th(scope="col") Имя
        tbody
          each book in allBooks
            tr 
              th= book.id
              th= book.title
              th 
                a(href='/updateBook/'+book.id class="icon-pencil")
              th 
                a(href='/viewBook/'+book.id class="icon-eye-open")
         
