extends ../layout.pug

block customHead
  link(href="/main/index.css" type="text/css" rel="stylesheet")
  script(src='/main/index.js')

block content
  .main-page.container
    h1.display-4= title
    .container_button 
      a(type="button" class="btn btn-primary" href='/allBooks') Посмотреть все книги
      a(type="button" class="btn btn-primary") Добавить книгу