extends ../layout.pug

block customHead
  link(href="/updateBooks/index.css" type="text/css" rel="stylesheet")
  script(src='/updateBooks/index.js')

block content
  .main-page.container
    h1.display-4= title
